<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}" />

    <title>{{ page.title }}</title>

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        p a.anchor {
            display: block;
            position: relative;
            top: -50px;
            visibility: hidden;
        }
    </style>
</head>

<body>

<div class="container">
    {{ content }}

    <hr>

    <footer>
        <p>
            <a href="http://github.com/esgf">CODE</a> &bull;
            <a href="http://www-pcmdi.llnl.gov/">PCMDI</a> &bull;
            <a href="http://cmip-pcmdi.llnl.gov/cmip5/">CMIP5</a> &bull;
            <a href="http://www.llnl.gov/disclaimer.html">Privacy &amp; Legal Notice</a>
        </p>
    </footer>
</div> <!-- /container -->


</body>
</html>
